---
import Layout from "../layouts/layout.astro";
import HeaderComponent from "../components/HeaderComponent.jsx";
import CarouselComponent from "../components/CarouselComponent.jsx";
import TechSection from "../components/TechSection.jsx";
import DownloadSection from "../components/DownloadSection.jsx";
// importación de assets
import logo from "../assets/icons/logo.png";
import video from "../assets/video/video_fondo.webm";
---

<Layout>
  <!-- Sección 1 -->
  <section
    id="home"
    class="relative text-white w-full h-screen flex flex-col p-0 overflow-hidden"
  >
    <!-- Video de fondo -->
    <video
      autoplay
      muted
      loop
      playsinline
      class="absolute top-0 left-0 w-full h-full object-cover -z-20"
    >
      <source src={video} type="video/webm" />
      Tu navegador no soporta videos en HTML5.
    </video>

    <!-- Capa oscura encima del video (como tenías el bg-black/25) -->
    <div class="absolute top-0 left-0 w-full h-full bg-black/25 z-0"></div>

    <!-- Logo y header -->
    <div class="relative z-20">
      <div>
        <img
          class="absolute w-auto h-20 top-2.5 left-2.5 z-10"
          src={logo.src}
          alt="Logo"
        />
      </div>
      <div><HeaderComponent client:load /></div>
    </div>

    <!-- Texto central -->
    <div
      class="w-full flex flex-col justify-center items-center h-auto absolute top-1/2 -translate-y-1/2 z-10"
    >
      <h1 class="text-7xl font-bold">RUSTWALKER</h1>
      <p class="text-[18px] font-light">Plataformero Apocaliptico</p>
    </div>
  </section>

  <!-- Sección 2 -->
  <section
    class="bg-[url(/src/assets/images/fondo.png)] bg-no-repeat bg-cover bg-center text-white w-full h-screen flex flex-col pt-30"
    id="about"
  >
    <h1 class="text-4xl font-bold text-center">¡Completa distintos niveles!</h1>
    <CarouselComponent client:load />
  </section>

  <!-- Sección 3 (Tecnologías) -->
  <section id="tech">
    <TechSection client:load />
  </section>
  <section id="download">
    <!-- Sección 4 (Descarga con animaciones) -->
    <DownloadSection client:load />
  </section>
</Layout>
